/* setup general de la pagina */

html, body {
    margin: 0;
    padding: 0;
  }
  
  html {
 
    background-color:white;
  }
  
  body {
    width: 100%;
    min-width: 800px;
  
  }

.logo {
    height: 8em;
    padding: 1.5em;
  }
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  .logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }


  h1, h2, h3, li {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
  }
  
  h1 {
    font-size: 4.2rem;
    text-shadow: 2px 2px 10px rgb(49, 146, 236);
  }
  
  h2 {
    font-size: 3rem;
    text-align: center;
  }
  
  h3 {
    font-size: 2.2rem;
  }
  
  p, li {
    font-size: 1.8rem;
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 1.5;
    color: #889eac;
    text-shadow: 2px 2px 10px rgb(11, 26, 156);
  }


  header {
    display: flex;
    flex-direction: column;
    background-image: url('./assets/pattern_134.gif'); 
    background-repeat: repeat;
    height: 30%;
  }
.flexy {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
  header h1 {
    margin-bottom: 0;
  }

  header p {
    margin-top: 0;
  }

.card-container {
    display: flex;
    justify-content: center;
  
  margin-top: 40px;
  }

  .card {
    display: flex;
    width: 55%;  
    flex-direction: column;
    height: 12vh;
  }

form {
 display: flex;
 margin-bottom: 20px;
 justify-content: center;
 
 
}

.videoInfo{  
  background: white;
  display: flex;
  flex-direction: row;
  border: 1px solid #d9e5eb;
  border-radius: 8px;
  
}
.videoInfo img{
  width: 30%;
  border: 1px solid #383c44;
}

.videoInfo p{
  margin-left: 10px;
  color: black;
  text-shadow: none;
  font-size: 1.1rem;
}

.videoInfo select {
  margin-left: 20px;
  padding-right: 50px;
}


.butdur{
  display: flex;
  justify-content: space-between;
}

.butdur p{
  margin-top: 0;
}

.download{
  background: #0151ff;
  border-radius: .5em;
  border-color: #0151ff;
  color: white;
  margin-left: 10px;
}
  input{
    padding: 20px;
    width: 45%;
    margin-right: 10px;
  }
  .search{
    padding: 20px;
    background: #b11ca9;
    color: white;
    border-radius: .5em;
    border-color: #b11ca9;
  }


  
  footer {
    background-color: rgb(15, 15, 15);
    text-align: center;
    position: fixed;
    bottom: 0;
    
    width: 100%;
  }


